extends layout

block content
  #head
    h1 Anton Ganhammar
    #contact
      a(href="mailto:ganhammar@gmail.com") ganhammar@gmail.com
    #about
      p
        | I'm a interaction designer & web developer. Below is an example of my
        | work, it's a tetris clone.
      p
        | The source code for this site can be found&nbsp;
        a(href="https://bitbucket.org/ganhammar/site/") here
        | .

  #game-wrapper
    #game-view

  script(src="/javascripts/general.js")
  script(src="/javascripts/block.js")
  script(src="/javascripts/game.js")

  script(type="text/javascript").
    var game = new Game(document.getElementById("game-view"));
    game.init();
