doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
