@bodyFont: 18px "Open Sans Condensed", sans-serif;
@bodyBackgroundColor: #f5f5f5;
@bodyColor: #111111;

@aColor: #1d6dff;

@headBackground: @bodyBackgroundColor;
@headColor: @bodyColor;

@gameWrapperBackgroundColor: #ffffff;

@scoreColor: #fefefe;
@scoreBackgroundColor: @bodyColor;

@instructionsBackgroundColor: rgba(255, 255, 255, 0.7);

@keyboardButtonBorderColor: #555555;
@keyboardButtonBackgroundColor: #f0f0f0;
@keyboardButtonColor: @bodyColor;

@nicknameColor: @scoreColor;
@nicknameBackgroundColor: @scoreBackgroundColor;

body {
  font: @bodyFont;
  color: @bodyColor;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: @bodyBackgroundColor;
}

a {
  color: @aColor;
  &:hover {
    text-decoration: none;
  }
}

#head {
  padding: 1em 0;
  background-color: @headBackground;
  color: @headColor;
  h1 {
    text-transform: uppercase;
    margin: 0 0 0 0;
    font-size: 2em;
    line-height: 2em;
    line-height: 1em;
  }
  #contact {
    margin: 0 0 0.2em 0;
    font-size: 1.2em;
  }
  #about {
    width: 400px;
    display: inline-block;
    p {
      margin: 0.3em 0 0 0;
    }
  }
}
#game-wrapper {
  background-color: @gameWrapperBackgroundColor;
  padding: 1em 0;
  #game-view {
    position: relative;
    display: inline-block;
    #scoring-table {
      position: absolute;
      top: 0px;
      right: 0px;
      #scoring-table-score, #scoring-table-level {
        line-height: 28px;
        font-size: 1.1em;
        text-transform: uppercase;
        color: @scoreColor;
        background-color: @scoreBackgroundColor;
        padding: 0 5px;
        height: 28px;
        margin: 0 0 5px 0;
        .name {
          float: left;
          width: 45px;
        }
        .value {
          float: left;
          text-align: right;
          width: 40px;
        }
      }
      &.game-over {
        font-size: 1.3em;
        right: 50%;
        margin-right: -60px;
        #scoring-table-score, #scoring-table-level {
          .name {
            width: 60px;
          }
          .value {
            width: 50px;
          }
        }
      }
    }
    #instructions {
      position: absolute;
      top: 140px;
      left: 50%;
      margin-left: -160px;
      background-color: @instructionsBackgroundColor;
      padding: 8px 0;
      .keyboard-button-wrapper {
        line-height: 20px;
        height: 20px;
        clear: both;
        float: left;
        margin-bottom: 8px;
        .keyboard-button {
          float: left;
          width: 70px;
          text-align: center;
          span {
            display: inline-block;
            border: 1px solid @keyboardButtonBorderColor;
            background-color: @keyboardButtonBackgroundColor;
            color: @keyboardButtonColor;
            border-radius: 3px;
            padding: 0 4px;
            margin: -1px 0 0 0;
            min-width: 15px;
            text-align: center;
            &.rotate, &.left, &.right, &.boost, &.start {
              line-height: 16px;
              height: 16px;
              padding: 0 4px 4px 4px;
            }
          }
        }
        .keyboard-button-explanation {
          float: left;
          width: 250px;
        }
      }
      &.game-over {
        top: auto;
        bottom: 110px;
      }
    }
    #nickname-wrapper {
      position: absolute;
      top: 90px;
      width: 360px;
      left: 50%;
      margin-left: -180px;
      label {
        display: block;
        margin-bottom: 4px;
        text-transform: uppercase;
        line-height: 22px;
        background-color: @nicknameBackgroundColor;
        color: @nicknameColor;
        font-size: 0.95em;
      }
      input {
        background-color: @nicknameBackgroundColor;
        color: @nicknameColor;
        border: none;
        font-size: 1.1em;
        width: 55px;
        padding: 5px;
        text-transform: uppercase;
        line-height: 24px;
        margin: 0px;
        font: @bodyFont;
        &:focus {
          outline: none;
        }
      }
      button {
        background-color: @nicknameBackgroundColor;
        color: @nicknameColor;
        border: none;
        font-size: 1.1em;
        line-height: 34px;
        height: 34px;
        font: @bodyFont;
        margin: 0px;
        &:hover {
          cursor: pointer;
          background-color: @nicknameBackgroundColor + #333333;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
